<div class="fields">
    <div class="item">
        <p>Imagem da Receita</p>
        <div>
            <input type="text" name="image_url" value="{{recipe.image}}">
        </div>
    </div>
    <div class="item">
        <p>Nome da Receita</p>
        <div>
            <input type="text" name="title" value="{{recipe.title}}">
        </div>
    </div>
    <div class="item">
        <p>Autor</p>
        <div>
            <input type="text" name="description" value="{{recipe.description}}">
        </div>
    </div>
    <div class="item">
        <p>Id da Receita</p>
        <div>
            <input type="text" name="Id_Url" value="{{recipe.id}}">
        </div>
    </div>
    <div class="item">
        <p>Destaque</p>
        <div>
           <select name="featured">
               <option value="true">Destacado</option>
               <option value="false">Listado Normal</option>
           </select>
        </div>
    </div>
    <div class="item">
        <p>Ingredientes</p>
        <div class="ingredients">
            <div class="ingredient">
                <input type="text" name="ingredients[]" value="{{recipe.ingredients}}">
            </div>
        </div>
        <button type="button" class="add_ingredient">Add Ingredient</button>
    </div>
    <div class="item">
        <p>Modo de preparo</p>
        <div class="preparations">
            <div class="preparation">
                <input type="text" name="preparation[]" value="{{recipe.preparation}}">
            </div>

        </div>
        <button type="button" class="add_preparation">Add Preparation</button>
    </div>
    <div class="item">
        <p>Informações adicionais</p>
        <div>
            <textarea name="textarea" cols="100%" rows="10" value="{{recipe.textarea}}"></textarea>
        </div>
    </div>
</div>
<script src="/script_admin.js"></script>