<div class="fields">
    <div class="item">
        <p>Imagem da Receita</p>
        <div>
            <input type="url" name="image_url">
        </div>
    </div>
    <div class="item">
        <p>Ingredientes</p>
        <div>
            <input type="text" name="ingredients">
        </div>
    </div>
    <div class="item">
        <p>Modo de preparo</p>
        <div>
            <input type="text" name="preparation">
        </div>
    </div>
    <div class="item">
        <p>Informações adicionais</p>
        <div>
            <textarea name="text" cols="100%" rows="10"></textarea>
        </div>
    </div>
</div>