<div class="fields">
    <div class="item">
        <p>Imagem da Receita</p>
        <div>
            <input type="url" name="image_url">
        </div>
    </div>
    <div class="item">
        <p>Ingredientes</p>
        <div class="ingredients">
            <div class="ingredient">
                <input type="text" name="ingredients[]">
            </div>
        </div>
        <button type="button" class="add_ingredient">Add Ingredient</button>
    </div>
    <div class="item">
        <p>Modo de preparo</p>
        <div class="preparations">
            <div class="preparation">
                <input type="text" name="preparation[]">
            </div>

        </div>
        <button type="button" class="add_preparation">Add Preparation</button>
    </div>
    <div class="item">
        <p>Informações adicionais</p>
        <div>
            <textarea name="text" cols="100%" rows="10"></textarea>
        </div>
    </div>
</div>
<script src="/script_admin.js"></script>