{% extends "Admin/layout.njk" %}
{% block content %}
    <div class="show_content">
        <div class="show_header">
            <div class="recipe_show_title">
                <p>Receita:{{recipe.title}}</p>
            </div>
            <div class="show_edit">
                <a href="/admin/Receitas/{{recipe.id}}/edit">Editar Receita</a>
            </div>
        </div>
        <div class="main_image_show">
            <img src="{{recipe.image}}" alt="">
        </div>
          <div class="show_info">
            <div class="title">
                <p>{{recipe.title}}</p>
                <p>{{recipe.description}}</p>
            </div>
            <div class="show_ingredients">
                <p>Ingredientes</p>
                <ul>
                    {% for  ingredient in recipe.ingredients %}
                     <li>{{ ingredient }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="show_preparation">
                <p>Modo de preparo</p>
                <ul>
                    {% for item in recipe.preparation %}
                    <li>{{ item }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="show_information">
                <p>Informações adicionais</p>
                <p>{{recipe.information}}</p> 
            </div>
        </div>
    </div>
    
{% endblock %}