{% extends "layout.njk" %}
{% block content %}
    <div class="main_recipes">
        <section class="cards">
            {% for item in items %}
                <div class="card" id="{{item.id}}">
                    <div class="card_image">
                        <img src="{{item.image}}" alt="">
                    </div>
                    <div class="card_title">
                        <h1>{{item.title}}</h1>
                    </div>
                    <div class="card_description">
                        <p>{{item.description}}</p>
                    </div>
                </div>
            {% endfor %}
        </section>
    </div>
    <div class="modal_overlay">
        <div class="modal">
            <div class="modalconteudo">
                <img src="" alt="">
                <h1>Test</h1>
                <p>Test</p>
            </div>
            <div class="details">
                <p>Mais informações</p>
            </div>
            <div class="fechar">
                <p>Fechar Modal</p>
            </div>
        </div>
    </div>
    <script src="/script.js"></script>
{% endblock %}