*,html{
    margin: 0;
    border: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
header {
    width: 100vw;
    padding: 30px 0px; 
    background-color: #111111;
    margin-bottom: 50px;
    display:flex;
    justify-content: center;
}
header .logo{
    width: 957px;
    position: relative;
}
/* Cards and main index*/
.recipes{
    width: 957px;
    box-sizing: border-box;
}
.recipe_title{
    font-size: 24px;
    margin-bottom: 30px;
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: bolder;
    color: #111111;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}
.recipe_cards{
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 20px;
   margin-bottom: 48px;
}
.card_image img{
    width: 172px;
    height: 90px;
    border-radius: 8px;

}
.card_info p:first-child{
    font-size: 18px;
    color: #111111;
    margin-bottom: 5px;
}
.card_info p{
    font-size: 14px;
    color: #777777;
    margin-bottom: 10px;
}
.card_info a{
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: bolder;
    text-decoration: none;
}
/*create*/
.create_content{
    margin: 0 auto;
    width: 957px;
}
.create_header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.create_header p,.show_header p{
    font-size: 24px;
    color: #111111;
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: bold;
    
}
button[type="submit"],
.add_ingredient,
.add_preparation{
    background-color: #6558C3 ;
    color: #FFFFFF;
    font-size: 16px;
    padding: 9px 20px;
    text-decoration: none;
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: bold;
    border-radius: 4px;
}
button[type="submit"] a{
    text-decoration: none;
    color: #FFFFFF;
}
.fields .item input,.fields .item select{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
    outline: none;
    border-radius: 4px;
    position: relative;
    border: 1px solid  #DDDDDD;
    border-radius: 4px;
    line-height: 10px;
    margin-bottom: 6px;
    
}
.fields .item{
    margin-bottom: 30px;
}

.fields .item:last-child div{
    border: none;
}
.fields .item div textarea{
    resize: none;
    width: 957px;
    height: 250px;
    border: 1px solid  #DDDDDD;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    
}
.fields .item p{
    font-size: 16px;
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
    
}
/* edit */
.forms{
    position: relative;
}
#form-delete {
    position: absolute;
    margin-right: 150px;
    top: 0 ;
    right:0;
}
#form-delete button[type="submit"]{
    background-color: #DC4747 ;
}
/* Show */
.global{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    width:100vw;
}
.show_content{
    margin:0 auto;
    width:957px;
    
}
.show_header{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    
}
.show_edit{
    background-color:#6558C3;
    color: #FFFFFF;
    font-size: 16px;
    padding: 9px 20px;
    text-decoration: none;
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: bold;
    border-radius: 4px;
}
.show_edit a{
    text-decoration: none;
    color: #FFFFFF;

}

.main_image_show{
    position: relative;
    width: 957px;
    margin-bottom: 50px;
}
.main_image_show img{
    width: 957px;
    height: 500px;
    border-radius: 15px;
}
.title {
    text-align: center;
    margin-bottom: 30px;
}
.title p:first-child{
    font-size: 36px;
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: bold;
}
.title p:nth-child(2){
    font-size: 20px;
    color: #777777;
}
.show_info{
    width: 957px;
    box-sizing: border-box;
}
.show_ingredients,
.show_preparation{
    margin-bottom: 50px;

}
.show_ingredients p:first-child,
.show_preparation p:first-child,
.show_information p:first-child{
    font-size: 24px;
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
}
.show_ingredients ul,
.show_preparation ul{
    list-style-position: inside;
    font-family: 'Roboto', sans-serif; 
    line-height: 28px;
    font-size: 16px;
    color: #444444;
    text-align: justify;
}
.show_information p:last-child{
    font-family: 'Roboto', sans-serif; 
    line-height: 28px;
    font-size: 16px;
    color: #444444;
    margin-bottom: 100px;
    text-align: justify;
}
